{% extends "base.html" %}

{% block script %}
	<script src='/static/js/add_question.js'></script>
	<script src='/static/js/json.js'></script>
{% endblock %}

{% block content %}
<article>
	<header>Add new question:</header>
	<div id='add_question_form'>{% csrf_token %}
		<label>Type:</label>
		<br>
		<select id='type'>
			<option value="many_ans">Many answers question</option>
			<option value="one_ans">One answer question</option>
			<option value="text_ans">Text answer</option>
			<option value="free_ans">Free ans</option>
		</select>
		<br>
		<div id='question_input'>
			<label>Subject:</label><br>
			<select id='subject'>
				<!--TODO: Ajax content from db-->
				<option value='Math'>Math</option>
				<option value='Algo'>Algo</option>
			</select>
			<br>
			<label>Theme:</label><br>
			<select id='theme'>
				<!--TODO: Ajax content from db-->
				<option value='Theme 1'>Theme 1</option>
				<option vakue='Theme 2'>Theme 2</option>
			</select>
			<br>
			<label>Question:</label><br>
			<textarea id='question'></textarea>
			<br>

			<!-- Variative part -->
			<div id='answers'></div>
			
			<div id='control'>
				<button type='button' id='add'>add</button>
				<button type='button' id='remove'>remove</button>
				<button type='button' id='submit'>submit</button>
			</div>
		</div>
	</div>
</article>
{% endblock %}